#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# import standard compile flags
include /usr/share/dpkg/buildflags.mk

# specify i.mx kernel headers
KHDRDIR=/usr/include/imx-kernel-api

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- CFLAGS="$(CFLAGS) -I$(KHDRDIR)" PLATFORM=MX6
